WORKSPACE="/workspace"
CRYPTOPRO_USERNAME="<ИМЯ_ПОЛЬЗОВАТЕЛЯ_САЙТА_CRYPTOPRO>"
CRYPTOPRO_PASSWORD="<ПАРОЛЬ_ПОЛЬЗОВАТЕЛЯ_САЙТА_CRYPTOPRO>"

GPG_CRYPTOPRO_0A709346="
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1.4.11 (GNU/Linux)

mQENBFmulAcBCADQH8cnbEAl/qfjWW4y4M+HDfhDI2XlxBacObE9fT/nC+O425bk
IPqM4hpmX5m9aIvsShJ2s/hRYd+TTMlo5xjo5qR+MgQFzuIRbl+gFZDX26SHUicy
oLvJ8kmTtBjPuSjQrEkeJwGIpQfjVqog2N+sIoV8eAD9ktmSF4XrueRxM8cD32X2
zEg3mmJkJ0JkX1rSOiQI6HNQHoWS8CM5lb9ruYCaCP5feVzDqZt7RVeKb9+EkdST
Lyu3NF/32woKqBredPc7wvCnXVNQ29vBnA5ee0GcJqEouc/dURvDOykXvRoIPAhp
EFhNv1LrDuFCNV9BBhbIw+7NZeHigj/PF/RBABEBAAG0O0NyeXB0b1BybyBMdGQu
IChQYWNrYWdlIFNpZ25pbmcgS2V5KSA8c3VwcG9ydEBjcnlwdG9wcm8ucnU+iQE4
BBMBAgAiBQJZrpQHAhsDBgsJCAcDAgYVCAIJCgsEFgIDAQIeAQIXgAAKCRDgM0KT
CnCTRuZ3B/9VdVL790p2C70Xl0LAVbG18JluJZFRQ7vJqUUnOfEFqhJRYdtdjtKe
Ovy9NihCjLGZ6/r67r21SpzcP1RRKkIONWt7S8fXdrIv/dG/w6NFvATlJC0/mBEv
CE9KJ7Aej/yh4dr9gDAW65ZUKNBmxqbNC/CittIieCgrL2uyGHU8OyEQJiVlcZ4F
cD9GfJFAiA+Uqt5yJ331KVXlJGowfk/gWvNwQ993YIVClHedIDEYVGh7eYUzu6aY
0OfUdwCUAyPAnT6k5dqKh3taLKawqU5irAyXALxkATK1JK8PYjHVHiDL1+a+y12G
SQ+6b2e3GL+udSQ/4R2H7WD3XVoHgP3I
=wSCr
-----END PGP PUBLIC KEY BLOCK-----
"

GPG_RUTOKEN_24932F17="
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQENBGSMSW8BCAC3bQA98cPTDeeNtfGOsF1hv+Qt+uiwaEO87jP5fdIq34CIQ7rn
rgpsdA2KtL03cr1V3YsBz2fDsIBG6yYc5utK4gPjtZjdLdr/45qePm2rlNGwZOJx
lM6wiEPo5SVyWvtLX6EvVCf0Sxb7J80553jGZeMngzAzeRXz/+JQvLQYFiWSHS5r
jsnqDdIbedI1BSxWfpepazPmnqFoRzGbxq9i/hFcr3cCKZODeDFrt6CnXO7+1FAO
iAOuuhg/f/dVSmYNcT4/1BMtuwas7iHkZbb0xKRcfxTW2i0Rb6aluyQlr1lKDnPE
4T/xOrSnhqw9V85TJmXAuXgGD3pLD3brOdZbABEBAAG0JkFrdGl2LVNvZnQgSlND
IDxkZXZlbG9wZXJzQHJ1dG9rZW4ucnU+iQFRBBMBCAA7FiEEeeaEhsvt9jKcJUSB
6Q8tDiSTLxcFAmSMSW8CGwMFCwkIBwICIgIGFQoJCAsCBBYCAwECHgcCF4AACgkQ
6Q8tDiSTLxfdugf/XiADYBRbKqLjp5agCrEXS/Lkno7BNm2F/HhZkqx8AVZdIlUz
E6U38OHpnP6+ixFtPfs3FSHGW56XhouVzx96WM4/7wK0WEU+9wu6iKxaip27ErnY
CuCWbU7aWvFqkQ4D9H+lvril2KtDmVBvnZQqBcvvD4jhy+4AIKBUw81FvPRZ34Ft
rispMlyXUvQWO/7EaNT4/2oqKVuhCXKlRATxy2ffJOAGO0e1zTeqX49Vlmrl/FFc
g6J0saCVdozombJci84k98P7QJMiEJvqYn0TfR/qx4kw932cJr5xgbFFc8+nbOxT
zYUE2S/pgrxWCagqM+DP5/Mc3nGuOHDK7IrSdw==
=ZGl4
-----END PGP PUBLIC KEY BLOCK-----
"

GPG_CRYPTOPRO="<GPG_КЛЮЧ_РЕПОЗИТОРИЯ_CRYPTOPRO>"
GPG_RUTOKEN="<GPG_КЛЮЧ_РЕПОЗИТОРИЯ_RUTOKEN>"
#GPG_CRYPTOPRO=${GPG_CRYPTOPRO_0A709346}
#GPG_RUTOKEN=${GPG_RUTOKEN_24932F17}